.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img{
  height: 500px;
  width: 500px;
}

.photo-container{
  height: 500px;
  width: 500px;
  border: 2px solid red;
  position: relative;
}

.targeting-box{
  position: absolute;
  display: flex;
  flex-direction: column;
  height:auto;
  width: 100px;
  top: 5px;
  left:5px;
  border: 1px solid red;
}

.target-option{
  height: auto;
  width: auto;
  border: 1px solid;
  padding: 5px;

}
