.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img{
  height: 700px;
  width: 750px;
}

.photo-container{
  height: 700px;
  width: 750px;
  border: 2px solid red;
  position: relative;
}

.targeting-box{
  position: absolute;
  display: flex;
  flex-direction: column;
  height:auto;
  width: 100px;
  border: 1px solid red;
}
.no-targeting-box{
 display: none;
}

.target-option{
  height: auto;
  width: auto;
  border: 1px solid;
  padding: 5px;
  background-color: lightblue;
  opacity: .8;

}

.target-option:hover{
background-color: green;
}

.waldo{
  height: 40px;
  width: 20px;
  border: 2px solid green;
  /* background-color: green; */
  top: 323px;
  left: 385px;
  z-index: 1;
  position: absolute;
}